.title {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18pt;
  color: #3f50b5;
  margin-bottom: 0px;
  margin-top: 8px;
}

.data-title {
  margin: 20px 5px 10px 5px;
}

#data-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

#data-container-big {
  display: grid;
  grid-template-columns: 1fr;
  height: 250px;
}

.data {
  grid-area: small;
  height: 205px;
  max-height: 900px;
  width: 225px;
  border: 0px solid;
  border-radius: 15px;
  background-color: white;
  padding: 10px 15px;
  text-align: center;
  margin: auto;
  -webkit-box-shadow: -14px 14px 7px -15px rgba(209, 209, 209, 0.92);
  -moz-box-shadow: -14px 14px 7px -15px rgba(209, 209, 209, 0.92);
  box-shadow: -14px 14px 7px -15px rgba(209, 209, 209, 0.92);
}

.data-big {
  grid-area: big;
  max-height: 900px;
  width: 750px;
  border: 0px solid;
  border-radius: 15px;
  background-color: white;
  padding: 20px;
  text-align: center;
  margin: 10px;
  font-size: 10pt;
  -webkit-box-shadow: -14px 14px 7px -15px rgba(209, 209, 209, 0.92);
  -moz-box-shadow: -14px 14px 7px -15px rgba(209, 209, 209, 0.92);
  box-shadow: -14px 14px 7px -15px rgba(209, 209, 209, 0.92);
}

.slider {
  font-size: 16pt;
}

.top {
  grid-area: small;
  display: grid;
  grid-template-columns: 0.4fr 3fr 1.5fr 0.25fr;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 11pt;
}

.top-num {
  font-weight: bold;
  font-size: 14pt;
  color: #3f50b5;
  margin-right: 10px;
}

.top-name {
  text-align: left;
}

.top-points {
  font-weight: bold;
  font-size: 12pt;
  text-align: right;
  color: #3f50b5;
}

.employee-popup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px;
}

.employee-img {
  width: 100%;
  min-width: 150px;
  border-radius: 25px;
}

.employee-details {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 10px;
}

.employee-name {
  font-weight: bold;
  font-size: xx-large;
  width: 1fr;
}

.employee-dept {
  font-weight: bold;
  font-size: large;
  background-color: #3ED7BD;
  color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  align-self: center;
  -webkit-box-shadow: -14px 14px 7px -15px rgba(209, 209, 209, 0.92);
  -moz-box-shadow: -14px 14px 7px -15px rgba(209, 209, 209, 0.92);
  box-shadow: -14px 14px 7px -15px rgba(209, 209, 209, 0.92);
}

.employee-feedback {
  display: grid;
  margin-top: 20px;
  font-size: 15pt;
}

@media screen and (max-width: 480px) {
  .data {
    width: 260px;
  }

  #data-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
  }

  #data-container-big {
    display: grid;
    grid-template-columns: 1fr;
  }
}