html {
  height: 100%;
  background: rgb(114, 55, 211);
  background: linear-gradient(326deg,
      rgba(114, 55, 211, 1) 0%,
      rgba(60, 217, 188, 1) 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  justify-items: center;
  justify-content: center;
  overflow: hidden;
}

#login-logo {
  width: 300px;
}

#login-wrap {
  min-height: 100%;
  align-items: center;
}

#login-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  min-width: 250px;
  max-width: 300px;
  border: 0px solid;
  border-radius: 15px;
  background-color: white;
  padding: 20px;
  margin: 50px auto;
  text-align: center;
  box-shadow: 0 2px 0 rgba(90, 97, 105, .11),
    0 10px 10px rgba(90, 97, 105, .12),
    0 10px 10px rgba(90, 97, 105, .06),
    0 10px 70px rgba(90, 97, 105, .1);
}